
.sidebar {
    background-color: #f8f9fa; 
    color: #fff; 
    height: 100vh;
    padding: 20px;
    width: 15%;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar .nav-link {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .sidebar .nav-link.active {
    font-weight: bold;
  }
  
