/* Sidebar.css */

.sidebar {
    background-color: #f8f9fa; /* Background color for the sidebar */
    color: #fff; /* Text color */
    height: 100vh; /* Set the sidebar height to the full viewport height */
    padding: 20px;
    width: 15%;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar .nav-link {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  /* .sidebar .nav-link:hover {
    color: #ffc107; 
  } */
  
  .sidebar .nav-link.active {
    font-weight: bold;
  }
  
